.github/
node_modules/
out-server/
.vscode/
.vscode-test/
*.vsix
out/test/
server/
shared/
src/
tests/
backups/
**/*.map
**/*.ts
!out/**/*.js
coverage/
tsconfig.json
vitest.config.*
.gitignore
roadmap.md
